<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U of C Course Prerequisites Searcher</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>University of Calgary Course Prerequisite Searcher</h1>
    <p>Have you ever wondered what future courses you could take based on what you're taking right now? Well now you can find out conveniently using this
        tool so you don't have to search through the entire university website!</p>
    <p>(Please note that the entire course database is based off the 2020-2021 calendar, so inaccuracies may be present.)</p>
    <label for="subjectDropdown">Select Course Name:</label>
    <select id="subjectDropdown" onchange="fetchCourses()">
        <option value="" disabled selected>Select a course name</option>
    </select>

    <br><br>

    <label for="courseDropdown">Select Course Number:</label>
    <select id="courseDropdown" onchange="fetchAllPrerequisiteForCourses()">
        <option value="" disabled selected>Select a course number</option>
    </select>

    <div id="loadingIndicator" class="loading">
        Searching across all courses... This may take a few moments.
    </div>

    <h3>Courses that list this course as a prerequisite:</h3>
    <div id="prerequisiteForList"></div>

    <script src="/static/script.js"></script>
</body>
</html>
